/**
  |============================
  | default classes
  |============================
*/
:root {
    --main-text-color: #2e2f42;
    --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
    --secondary-text-color: #434455;
    --white-text-color: #ffffff;
    --accent-bgc: #4d5ae5;
    --secondary-bgc: #f4f4fd;
    --ocean-text-color: #404bbf;
    --border-btn-color: #e7e9fc;
    --secondary-green-color: #31d0aa;
    --light-slate-color: #8e8f99;
    --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --color-dairy: #fcfcfc;

    --indent: 24px;
    --item: 1;
    /* --mobile: 428px;
    --tablet: 768px;
    --desktop: 1158px; */
}

body {
    background-color: #ffffff;
    color: var(--secondary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;

    /* object-fit: cover;
    object-position: center; */
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.container {
    /* Basic styles for mobile screen */
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}
/* Tablet screen */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
/* Desktop screen */
@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* Приховуємо заголовки */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**
  |============================
  | header
  |============================
*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address-list {
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .address-list {
        display: block;
    }
}

.address {
    margin-left: auto;
}

.logo {
    padding: 24px 0;
    display: inline-block;
    margin-right: 76px;
    color: var(--accent-bgc);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }
}

@media only screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
}

.footer-logo {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 16px;
    padding: 0;

    color: var(--accent-bgc);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 428px) {
    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .footer-logo {
        justify-content: start;
    }
}

.logo-dark {
    color: var(--main-text-color);
}

.header-item {
    display: block;
    padding: 24px 0;

    color: var(--main-text-color);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;

    transition: color var(--cubic-bezier);
}

.address-list {
    display: flex;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

@media only screen and (min-width: 768px) {
    .address-list {
        font-size: 12px;
        flex-direction: column;
        row-gap: 12px;
    }
}

@media only screen and (min-width: 1158) {
    .address-list {
        font-size: 16px;
        row-gap: 12px;
    }
}

/* .address-list-item:not(:last-child) {
    display: flex;
} */

@media only screen and (min-width: 1158px) {
    .address-list {
        flex-direction: row;
        gap: 40px;
        font-size: 16px;
        padding-right: 0;
    }
}

.address-link {
    padding: 24px 0;
    display: block;
    transition: color var(--cubic-bezier);
}

@media only screen and (min-width: 768px) {
    .address-link {
        padding: 0 0;
        padding-right: 16px;
    }
}

@media only screen and (min-width: 1158px) {
    .address-link {
        padding: 0 0;
    }
}

.site-item {
    color: var(--secondary-text-color);
}

.header-list {
    display: flex;
    align-items: center;
}

.header-list-item:not(:last-child) {
    margin-right: 40px;
}

.header-list a:hover,
.header-list a:focus {
    color: var(--ocean-text-color);
}

@media only screen and (max-width: 767px) {
    .header-list,
    .address {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .burger-menu-icon {
        display: none;
    }
}

.address-list a:hover,
.address-list a:focus {
    color: var(--ocean-text-color);
}

.address {
    font-style: normal;
}

/* header underline */

.header-item::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-text-color);
    opacity: 0;
}

.header-item.active {
    color: var(--ocean-text-color);
}

.header-item.active::after {
    opacity: 1;
}

.header-item {
    position: relative;
}

/**
  |============================
  | section hero
  |============================
*/

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.work {
    padding-top: 0;
    display: none;
}

.hero {
    color: var(--white-text-color);
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 36px;
    max-width: 320px;
}
@media only screen and (min-width: 768px) {
    .hero {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
        max-width: 496px;
    }
}

.btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;

    border: none;
    border-radius: 4px;
    font-family: inherit;
    color: var(--white-text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--accent-bgc);
    line-height: 1.5;
    cursor: pointer;
    transition: background-color var(--cubic-bezier);
}

.btn:focus,
.btn:hover {
    background-color: var(--ocean-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-filter {
    padding: 12px 24px;
    font-family: inherit;
    color: var(--accent-bgc);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--secondary-bgc);
    line-height: 1.5;
    cursor: pointer;
    border: 1px solid var(--border-btn-color);
    border-radius: 4px;

    transition: color var(--cubic-bezier), background-color var(--cubic-bezier),
        border-color var(--cubic-bezier), box-shadow var(--cubic-bezier);
}

.btn-filter:focus,
.btn-filter:hover {
    color: var(--white-text-color);
    background-color: var(--ocean-text-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-hero {
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
    height: 600px;

    color: var(--main-text-color);
    text-align: center;
    background-color: var(--main-text-color);
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/Dark-bg-@mob@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Медіа запити для встановлення фонових зображень для різних пристроїв та екранів */
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/hero/Dark-bg-@mob@2x.jpg);
    }
}

@media only screen and (min-width: 429px) {
    .section-hero {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/hero/Dark-bg-@tab1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .section-hero {
            background-image: linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)
                ),
                url(../images/hero/Dark-bg-@tab2x.jpg);
        }
    }
}

@media only screen and (min-width: 769px) {
    .section-hero {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/hero/people-office@pc1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .section-hero {
            background-image: linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)
                ),
                url(../images/hero/people-office@pc2x.jpg);
        }
    }
}

/**
  |============================
  | section our advantages
  |============================
*/

.advantages-title {
    color: var(--main-text-color);
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;
}

.advantages-p {
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
}

.section-advantages-list {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 72px;
    /* margin: 0 auto; */
}
.advantages-icons {
    margin-bottom: 8px;
    min-width: 264px;
    min-height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--secondary-bgc);
}

@media only screen and (min-width: 768px) {
    .section-advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 24px;
    }
    .advantages-list-item {
        width: 356px;
    }
    .advantages-title {
        text-align: left;
    }
}

@media only screen and (max-width: 1157px) {
    .advantages-icons {
        display: none;
    }
}

@media only screen and (min-width: 1158px) {
    .advantages-list-item {
        width: 264px;
    }
    .advantages-title {
        font-size: 20px;
        font-weight: 500;
    }
    .advantages-p {
        font-weight: 400;
    }
}

.antenna {
    width: 64px;
    height: 64px;
}

/**
  |============================
  | section what are we doing and our team
  |============================
*/

@media only screen and (min-width: 1158px) {
    .work {
        display: block;
    }
}

.section-works,
.title-team,
.customers-title {
    margin-bottom: 72px;

    color: var(--main-text-color);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
}

.section-works-list {
    display: flex;
}

.works-list-item:not(:last-child) {
    margin-right: 24px;
}

.section-team {
    background-color: var(--secondary-bgc);
}

.our-title {
    margin-bottom: 8px;

    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
}

.section-p {
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}

.team-item {
    width: 264px;
    background-color: var(--white-text-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-item {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .section-item {
        flex-direction: row;
        gap: 64px 24px;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1158px) {
    .section-item {
        flex-direction: row;
        gap: 24px;
    }
}

.card-info {
    padding: 32px 0px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .social-media {
        align-items: start;
    }
}

@media only screen and (min-width: 1158px) {
    .social-media {
        margin-right: 80px;
    }
}
.socials-link {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent-bgc);
    color: #f4f4fd;
    border-radius: 50%;
    transition: background-color var(--cubic-bezier);
}

.socials-icon {
    fill: var(--secondary-bgc);
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--ocean-text-color);
}

.socials-footer-link {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent-bgc);
    color: #f4f4fd;
    border-radius: 50%;
    transition: background-color var(--cubic-bezier);
}

.socials-footer-link:hover,
.socials-footer-link:focus {
    background-color: var(--secondary-green-color);
}

/**
  |============================
  | Customers
  |============================
*/

@media only screen and (min-width: 768px) {
    .customers-container {
        max-width: 584px;
    }
}
@media only screen and (min-width: 1158px) {
    .customers-container {
        max-width: 1158px;
    }
}

.customers-link-item {
    /* fill: var(--light-slate-color); */
    fill: currentColor;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    align-items: center;
    justify-content: center;
}

.customers-list-item {
    width: calc((100% - (var(--indent) * (var(--item) - 1))) / var(--item));
    height: 88px;
    --item: 2;
    --indent: 16px;
}

@media only screen and (min-width: 768px) {
    .customers-list-item {
        gap: 72px 24px;
        --item: 3;
        --indent: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .customers-list-item {
        gap: 72px 24px;
        --item: 6;
        --indent: 24px;
    }
}

.customers-icons {
    width: 100%;
    height: 100%;
    color: var(--light-slate-color);
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color var(--cubic-bezier), color var(--cubic-bezier);
}

.customers-icons:hover,
.customers-icons:focus {
    fill: var(--ocean-text-color);
    color: var(--ocean-text-color);
    border: 1px solid var(--ocean-text-color);
    border-color: var(--ocean-text-color);
}

.customers-link-item:hover,
.customers-link-item:focus,
.customers-link-item:active {
    fill: currentColor;
}

/**
  |============================
  | footer
  |============================
*/
.footer {
    background-color: var(--main-text-color);
    padding: 100px 0;
}

.logo-light {
    color: var(--secondary-bgc);
}

.footer p {
    color: var(--white-text-color);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.footer-text {
    width: 264px;
}

.foo-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer-left-section {
    margin-right: 120px;
}

@media only screen and (min-width: 428px) {
    .footer-left-section {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-left-section {
        margin-right: 120px;
    }
}

.media-title {
    color: var(--white-text-color);
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .media-title {
        text-align: start;
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    row-gap: 72px;
    column-gap: 24px;
}

@media only screen and (min-width: 1158px) {
    .footer-container {
        flex-wrap: nowrap;
        column-gap: 0;
    }
}

.footer-socials {
    gap: 16px;
}

/**
  |============================
  | portfolio
  |============================
*/

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    display: block;
    transition: box-shadow var(--cubic-bezier);
}

.advantages-item:hover,
.advantages-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.advantages-list {
    margin-right: 24px;
    margin-bottom: 48px;
}

.advantages-list:nth-child(3n) {
    margin-right: 0;
}
.advantages-list:nth-child(n + 7) {
    margin-bottom: 0;
}

.filter-list-item:not(:last-child) {
    margin-right: 24px;
}

.section-portfolio {
    padding: 96px 0 120px;
}

.card-item {
    padding: 32px 16px;
    border: 1px solid var(--border-btn-color);
    border-top: none;
}

/**
  |============================
  | Hover card
  |============================
*/

.card-thumb {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    color: var(--secondary-bgc);
    background-color: var(--accent-bgc);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

    width: 100%;
    height: 100%;
    padding: 40px 32px;

    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--cubic-bezier);
}

.advantages-item:hover .overlay-text,
.advantages-item:focus .overlay-text {
    transform: translateY(0%);
}

/**
  |============================
  | Modal js
  |============================
*/
.backdrop {
    background-color: var(--color-navy-blue-modal);

    width: 100%;
    height: 100%;

    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity var(--cubic-bezier), visibility var(--cubic-bezier);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-btn {
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal {
    background-color: var(--color-dairy);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--cubic-bezier);

    width: 408px;
    min-height: 576px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 0 24px;
    padding-top: 72px;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(70%);
}

.modal-close-btn {
    background-color: rgba(231, 233, 252, 0.1);
    color: var(--color-navy-blue);

    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color var(--cubic-bezier), border var(--cubic-bezier);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--ocean-text-color);
    color: var(--border-btn-color);
    border: none;
}

.modal-close-icon {
    fill: currentColor;
    transition: fill var(--cubic-bezier);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

/* Inside modal */

.modal-title {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-bottom: 16px;
}

.form-fild {
    /* outline: 1px solid teal; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border-color: var(--main-text-color);
    height: 40px;

    position: relative;
}

.form-label {
    color: var(--light-slate-color);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;

    margin-bottom: 4px;
    display: inline-block;
    position: relative;
}

textarea {
    resize: none;
}

.textarea-comment {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border-color: var(--main-text-color);

    position: relative;
    margin-bottom: 16px;
}

.form-label-textarea {
    height: 120px;
    width: 360px;
    padding-top: 8px;
    padding-left: 16px;
    outline: none;
    border: 1px solid var(--color-navy-blue-modal);
    border-radius: 4px;
}

.form-fild textarea::placeholder {
    padding-top: 8px;
    padding-left: 16px;

    color: var(--color-navy-blue-modal);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
}

.form-input:focus,
.form-label-textarea:focus {
    border-color: var(--accent-bgc);
}

.form-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: currentColor;
    pointer-events: none;
    transition: var(--cubic-bezier);
}

.modal-svg-container {
    position: relative;
    margin-bottom: 8px;
    width: 360px;
    height: 40px;
}

.form-input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-navy-blue-modal);
    border-radius: 4px;
    outline: none;
    padding: 0;
    padding-left: 38px;

    transition: border-color var(--cubic-bezier);
}

.form-input:focus ~ .form-icon {
    fill: var(--accent-bgc);
}
.policy {
    padding-left: 8px;
}

.policy-a {
    color: var(--accent-bgc);
}

.checkbox-input {
    appearance: none;
}

.unchecked {
    opacity: 1;
}

.checked {
    opacity: 0;
}

.checkbox-input:checked + .checked-icon > .unchecked {
    opacity: 0;
}
.checkbox-input:checked + .checked-icon > .checked {
    opacity: 1;
}

.checkbox-cobtainer {
    display: flex;
    align-items: center;
    text-align: center;
}

.policy-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.btn-modal {
    margin-bottom: 24px;
}

/* footer subscribe */

.subscribe-label {
    position: relative;
    color: var(--white-text-color);
    width: 398px;
    height: 40px;
}

@media only screen and (min-width: 768px) {
    .subscribe-label {
        width: 264px;
    }
}

.subscribe-form-input {
    background-color: transparent;
    border: 1px solid var(--white-text-color);
    border-radius: 4px;
    color: var(--white-text-color);
    outline: transparent;

    width: 100%;
    height: 40px;

    padding: 0;
    padding-left: 16px;
}

/* Складна конструкція для фіксування span після наповненням контентом інпуту */
.subscribe-form-input:focus ~ .subscribe-span,
.subscribe-form-input:not(:placeholder-shown) + .subscribe-span {
    transform: translateY(-33px);
    transition: var(--cubic-bezier);
}

.subscribe-span {
    background-color: var(--main-text-color);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    left: 14px;
    transform: translateY(-50%);
    transition: var(--cubic-bezier);
    transform-origin: left center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.btn-subscribe {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    min-width: 165px;
    height: 40px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;

    border: none;
    border-radius: 4px;
    font-family: inherit;
    color: var(--white-text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--accent-bgc);
    line-height: 1.5;
    cursor: pointer;
    transition: background-color var(--cubic-bezier);
}

.btn-subscribe:hover {
    background-color: var(--ocean-text-color);
    transition: background-color var(--cubic-bezier);
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .footer-subscribe {
        flex-direction: row;
    }
}

/* Burger menu */

.burger-menu-contacts {
    display: flex;
    flex-direction: column;
}

.burger-menu-btn {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media only screen and (min-width: 768px) {
    .burger-menu-btn {
        display: none;
    }
}
.burger-menu-btn:hover,
.burger-menu-btn:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.burger-menu-nav {
    padding-top: 80px;
    margin-bottom: auto;
}

.burger-menu-list {
    margin-bottom: 40px;
}

.burger-menu-item {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;

    color: var(--main-text-color);
}

@media only screen and (min-width: 428px) {
    .burger-menu-nav .active {
        color: var(--ocean-text-color);
    }
}

.burger-menu-item:focus,
.burger-menu-item:hover {
    color: var(--ocean-text-color);
    transition: var(--cubic-bezier);
}

.menu-num-item {
    color: var(--accent-bgc);
    text-align: center;
    display: inline-block;
}
.menu-contacts-list {
    display: inline-block;
    margin-bottom: 40px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.socials-menu {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 56px;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-left: 40px;
    width: 100vw;
    height: 100vh;
    background-color: var(--white-text-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-socials-item .socials-link {
    gap: 56px;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .burger-menu-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
